{% extends "main/base.html" %}
{% block title %}Новости{% endblock%}

{% block content %}
    <div class="feature">
       
        <h1>Добро пожаловать в новостной блог</h1>
        {% if news %}
            {% for i in news %}
                <div class="alert alert-dark">
                    <h4>{{i.title}}</h4>
                    <p>{{i.full_text}}</p>
                    <p>{{i.date}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Пока нет публикаций</p>
        {% endif %}
    </div>
{% endblock %}