{% extends "main/base.html" %}
{% block title %}Новости{% endblock%}

{% block content %}
    <div class="feature">
       
        <h1>Добро пожаловать в новостной блог</h1>
        {% if news %}
            {% for i in news %}
                <div class="alert alert-dark">
                    <h4>{{i.title}}</h4>
                    <p>{{i.anons}}</p>
                    <p>{{i.date}}</p>
                    <a href="{% url 'news_detail' i.id %}"><button class="btn btn-warning">Читать подробнее</button></a>
                    <a class="edit-icon" href="{% url 'news_update' i.id %}"><i class="fa-regular fa-pen-to-square"></i></a>

                </div>
            {% endfor %}
        {% else %}
            <p>Пока нет публикаций</p>
        {% endif %}
    </div>
{% endblock %}