*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(35, 32, 32);
}
aside{
    float: left;
    background-color: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
aside img{
    width: 40px;
    float: left;

}
aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -10px;
}
aside h3{
    margin-top: 30px;
    font-size: 28px;
}
aside a{
    color: #fff;
}
aside ul{list-style: none;}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
}
aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    text-decoration: none ;
    transform: scale(1.05);
}
main{
    color: #fff;
}

main .feature{
    float: left;
    color: #fff;
    margin-top: 100px;
    width: 75%;
    text-align: center;
}
main .feature h1{font-style: 50px;}
main .feature p {max-width: 500px; margin: 20px auto;}